pancreas_ct/pancreas_npy_3d/test/*
pancreas_ct/checkpoint.pth
pancreas_train_with_graph/pancreas_ct/Pancreas-CT-20220505T233913Z-002.zip
our_pancreas_ct/pancreas_npy_3d/test/*
our_pancreas_ct/checkpoint.pth
our_pancreas_train_with_graph/pancreas_ct/*
our_pancreas_train_with_graph_0106/pancreas_ct/pancreas_npy_3d/*
Almenara/*
